.drawer{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50vw !important;
    height: 100vh !important;
    background-color: black;
    position:absolute;
    z-index: 100;
    overflow: hidden;
}
.drawer-div>h4{
    font-size: 1rem;
    color: white ;
    font-family: CenturyGothicFett;
}

/* @media screen and (min-width: 901px) {
    .drawer{
        display: none;
    }
    
} */