@media screen and (min-width:900px){
    .menu{
        display:none !important;
    }
    .wrap{
        left: 0 !important;
    }
    .close{
        display:none !important;
       
    }
    .nav{
        width: 334px !important;
        top: 0;
        left: 0;
        position: sticky;
        height: 100%;
        z-index: 0;
        position: absolute;
        
    }
    .logout{
        margin-left: 10px;
        color:white !important;
        margin-bottom: 30px;
    }
    .logout:hover{
        cursor: pointer;
    }
    .img{
        width: 280px;
        height:80px;
    }
    
    
}
@media screen and (max-width:900px){
   .title{
       font-size: 14px !important;
   }
   .logout{
    color: white;
    margin-left: 6px;
    margin-bottom: 26px;
   }
    .typo{
        margin-right: 50px !important;
    }
    .MuiTypography-h6{
        margin-left: -57px !important;
    }
    .MuiDrawer-paper{
        max-width: 260px !important;
    }
    .MuiPaper-root{
        width: 400px !important;
    }
    .chapitretwo{
        margin-top: -106px;
    }
    .MuiToolbar-gutters{
        padding-left: 0px !important; 
        padding-right: 0px !important;
    }
    .img{
        width: 225px;
        height:80px;
    }

} 

