@media screen and (min-width:900px){
    .menu{
        display:none !important;
    }
    .wrap{
        left: 0 !important;
    }
    .close{
        display:none !important;
       
    }
    .nav{
        width: 334px !important;
        top: 0;
        left: 0;
        position: sticky;
        height: 100%;
        z-index: 0;
        position: absolute;
        
    }
    .logout{
        margin-left: 10px;
        color:white !important;
        margin-bottom: 30px;
    }
    .logout:hover{
        cursor: pointer;
    }
    
    
    
}
@media screen and (max-width:900px){
   .title{
       font-size: 14px !important;
   }
   .logout{
    color: white;
    margin: 0 13px 30px;

} 

  
    
    
}

